h1 {
    color: rgb(221, 6, 6);
    font-size: 24px;
    background-color: rgb(6, 6, 6);
  }
  
  p {
    color: rgb(7, 7, 7);
    font-size: 16px;
  }
  
  .hobby {
    background-color:rgb(135, 169, 197);
    padding: 10px;
  }
  
  .hobby:hover {
    background-color: rgb(7, 249, 96);
  }
  
  #my-hobby {
    background-color: rgb(24, 244, 8);
  }

img{
    height:10%;
    width: 10%


  }